<!DOCTYPE html>

<html lang="en">
    <head>
        <title>hello</title>
    </head>
    <body>
        <form action="/" method="post">
            <input autocomplete="off" autofocus Tt="Tt" placeholder="Tt" type="number">
            <input autocomplete="off" autofocus T0="T0" placeholder="T0" type="number">
            <input autocomplete="off" autofocus Ts="Ts" placeholder="Ts" type="number">
            <input autocomplete="off" autofocus t="t" placeholder="t" type="number">
            <input type="submit">
    </body>
</html>